conda install python=3.6
conda install -c pythonnet pythonnet
conda install pandas
conda install protobuf
conda install matplotlib
conda install -c anaconda openpyxl
conda install -c plotly plotly
conda install -c conda-forge statsmodels
conda install -c anaconda flask
conda install -c anaconda jupyter

